<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="Paweł 'kilab' Balicki - kilab.pl" />
<title>{% block title %}Mon titre{% endblock %} - symblog</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/slashxadmin/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/slashxadmin/css/navi.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block javascripts %}
        	<script type="text/javascript" src="{{ asset('bundles/slashxadmin/js/jquery-1.7.2.min.js') }}"></script>
        {% endblock %}
        
<script type="text/javascript">
$(function(){
	$(".box .h_title").not(this).next("ul").hide("normal");
	$(".box .h_title").not(this).next("#home").show("normal");
	$(".box").children(".h_title").click( function() { $(this).next("ul").slideToggle(); });
});
</script>

</head>
<body>
<div class="wrap">
	<div id="header">
		<div id="top">
			<div class="left">
				<p>Welcome, <strong>Paweł B.</strong> [ <a href="">logout</a> ]</p>
			</div>
			<div class="right">
				<div class="align-right">
					<p>Last login: <strong>23-04-2012 23:12</strong></p>
				</div>
			</div>
		</div>
		
		{% block navigation_hz %}
		{% endblock %}
	</div>
	
	<div id="content">
		<div id="sidebar">
			<div class="box">
				<div class="h_title">&#8250; Main control</div>
				<ul>
					<li class="b1"><a class="icon view_page" href="">Visit site</a></li>
					<li class="b2"><a class="icon report" href="">Reports</a></li>
					<li class="b1"><a class="icon add_page" href="">Add new page</a></li>
					<li class="b2"><a class="icon config" href="">Site config</a></li>
				</ul>
			</div>
			
		</div>
		
		<div id="main">
		<div class="clear"></div>

		{% block main %}	

		{% endblock %}
		
		</div>

</div>

</body>
</html>
