{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block navigation_hz %}
		<div id="nav">
			<ul>
				<li class="upp"><a href="#">Articles</a>
					<ul>
						<li>&#8250; <a href="">Visit site</a></li>
						<li>&#8250; <a href="">Reports</a></li>
						<li>&#8250; <a href="">Add new page</a></li>
						<li>&#8250; <a href="">Site config</a></li>
					</ul>
				</li>
				<li class="upp"><a href="{{ path('papillon') }}">Systématique</a>
				</li>
				<li class="upp"><a href="{{ path('album') }}">Album</a>
				</li>
			</ul>
		</div>
		{% endblock %}
		
		
		{% block main %}
	    <div class="full_w">
			<div class="h_title">{% block block_title %}block_title{% endblock %}</div>
			<div class="h_descripion">{% block block_description %}block_description{% endblock %}</div>
					{% block sub_main %}
					{% endblock %}
				
		</div>
		{% endblock %}
		