{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'SlashxAdminBundle::layout.html.twig' %}

{% block main %}
    <div class="full_w">
		<div class="h_title">Administration</div>
				
		<h1>Administration de charaxe.be</h1>	
		<p>Veuillez utiliser les différents menu pour administrer votre site</p>			
	</div>
{% endblock %}